package ${package}.${moduleName}.admin.dto.${classname}.requset;

import java.util.Date;
import javax.validation.constraints.NotNull;
import io.swagger.annotations.ApiModelProperty;
import javax.validation.constraints.NotBlank;

/**
 * ${comments}
 *
 * @author ${author}
 * @date ${datetime}
 */
public class ${className}UpdateInputDTO {
    #foreach ($column in $columns)
    ##排除created_at字段
        #if($column.columnName != "created_at")
        ##排除updated_at字段
            #if($column.columnName != "updated_at")
                #if($column.nullable == "NO")
                    #if($column.dataType == "int")
                    @NotNull(message = "${column.comments}不能为空")
                    #else
                    @NotBlank(message = "${column.comments}不能为空")
                    @ApiModelProperty(value = "$column.comments" , required = true)
                    #end
                #else
                @ApiModelProperty(value = "$column.comments")
                #end

            private ${column.attrType} $column.attrname;
            #end
        #end

    #end

    #foreach ($column in $columns)
        #if($column.columnName != "created_at")
            #if($column.columnName != "updated_at")
                public void set${column.attrName}($column.attrType $column.attrname) {
                    this.$column.attrname = $column.attrname;
                }

                public $column.attrType get${column.attrName}() {
                    return $column.attrname;
                }
            #end
        #end
    #end
}