<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianxun.mapper.SysUserMapper">
  <resultMap id="BaseResultMap" type="com.qianxun.entity.SysUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="password_encrypted" jdbcType="VARCHAR" property="passwordEncrypted" />
    <result column="password_salt" jdbcType="VARCHAR" property="passwordSalt" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="identification" jdbcType="VARCHAR" property="identification" />
    <result column="reset_password_token" jdbcType="VARCHAR" property="resetPasswordToken" />
    <result column="reset_password_sent_at" jdbcType="TIMESTAMP" property="resetPasswordSentAt" />
    <result column="sign_in_count" jdbcType="INTEGER" property="signInCount" />
    <result column="current_sign_in_at" jdbcType="TIMESTAMP" property="currentSignInAt" />
    <result column="last_sign_in_at" jdbcType="TIMESTAMP" property="lastSignInAt" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="current_token" jdbcType="VARCHAR" property="currentToken" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, user_name, phone, email, password_encrypted, password_salt, status, identification, 
    reset_password_token, reset_password_sent_at, sign_in_count, current_sign_in_at, 
    last_sign_in_at, created_at, updated_at, current_token
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qianxun.entity.SysUser">
    insert into sys_user (id, name, user_name, 
      phone, email, password_encrypted, 
      password_salt, status, identification, 
      reset_password_token, reset_password_sent_at, 
      sign_in_count, current_sign_in_at, last_sign_in_at, 
      created_at, updated_at, current_token
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{passwordEncrypted,jdbcType=VARCHAR}, 
      #{passwordSalt,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{identification,jdbcType=VARCHAR}, 
      #{resetPasswordToken,jdbcType=VARCHAR}, #{resetPasswordSentAt,jdbcType=TIMESTAMP}, 
      #{signInCount,jdbcType=INTEGER}, #{currentSignInAt,jdbcType=TIMESTAMP}, #{lastSignInAt,jdbcType=TIMESTAMP}, 
      #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}, #{currentToken,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.qianxun.entity.SysUser">
    update sys_user
    set name = #{name,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      password_encrypted = #{passwordEncrypted,jdbcType=VARCHAR},
      password_salt = #{passwordSalt,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      identification = #{identification,jdbcType=VARCHAR},
      reset_password_token = #{resetPasswordToken,jdbcType=VARCHAR},
      reset_password_sent_at = #{resetPasswordSentAt,jdbcType=TIMESTAMP},
      sign_in_count = #{signInCount,jdbcType=INTEGER},
      current_sign_in_at = #{currentSignInAt,jdbcType=TIMESTAMP},
      last_sign_in_at = #{lastSignInAt,jdbcType=TIMESTAMP},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      current_token = #{currentToken,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="columnStrExists" resultType="java.lang.Integer">
    SELECT count(*) AS `count`
    FROM sys_user
    WHERE ${columnName} = #{value}
  </select>
  <select id="selectByLoginStr" resultMap="BaseResultMap">
    SELECT *
    FROM sys_user
    LEFT JOIN sys_user_role ON sys_user.id = sys_user_role.sys_user_id
    LEFT JOIN sys_role ON sys_user_role.sys_role_id = sys_role.id
    WHERE user_name = #{loginStr} OR phone = #{loginStr} OR email = #{loginStr}
    LIMIT 1
  </select>
  <update id="updateCol">
    UPDATE sys_user
    SET ${column} = #{value}
    WHERE id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateSignInAt" parameterType="java.lang.Integer">
    UPDATE sys_user
    SET last_sign_in_at = current_sign_in_at,
    current_sign_in_at = current_timestamp()
    WHERE id = #{id,jdbcType=INTEGER}
  </update>
  <update id="increaseSignInCount" parameterType="java.lang.Integer">
    UPDATE sys_user
    SET sign_in_count = sign_in_count + 1
    WHERE id = #{id,jdbcType=INTEGER}
  </update>
</mapper>