package ${package}.${moduleName}.api.entity;

import java.util.Date;
import com.baomidou.mybatisplus.annotation.IdType;
import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableLogic;
import com.baomidou.mybatisplus.annotation.Version;
import com.fasterxml.jackson.annotation.JsonFormat;
import lombok.Data;
import java.io.Serializable;

/**
 * @author ${author}
 * ##Date ${datetime}
 */
@Data
public class ${className} implements Serializable {
#foreach ($column in $columns)
    /**
     * $column.comments
     */
    #if($column.columnName == $pk.columnName)
    @TableId(value = "$column.columnName", type = IdType.AUTO)
    #end
    #if($column.attrType == "Date")
    @JsonFormat(pattern = "yyyy-MM-dd HH:mm:ss")
    #end
    #if($column.columnName == "deleted")
    @TableLogic
    #end
    #if($column.columnName == "version")
    @Version
    #end
    private ${column.attrType} $column.attrname;
#end
}
