package ${package}.admin.api.entity;

import java.util.Date;
import lombok.Data;
import java.io.Serializable;

/**
 * ${comments}
 *
 * @author ${author}
 * @date ${datetime}
 */
@Data
public class ${className} implements Serializable {
#foreach ($column in $columns)
/**
 * $column.comments
 */
    private ${column.attrType} $column.attrname;
#end
}
