package ${package}.${moduleName}.api.entity;

import com.baomidou.mybatisplus.annotation.IdType;
import com.baomidou.mybatisplus.annotation.TableId;
import lombok.Data;

import java.io.Serializable;

/**
 * @author ${author}
 * Date ${datetime}
 */
@Data
public class ${className}Lang implements Serializable {
    @TableId(value = "id", type = IdType.AUTO)
    private Integer id;

    private Integer ${className.substring(3)}Id;

    private Integer langId;

    private String name;
}
