<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianxun.admin.mapper.AuthUserMapper">
    <resultMap id="BaseResultMap" type="com.qianxun.admin.model.entity.SysUser">
        <id column="user_id" javaType="java.lang.Integer" jdbcType="INTEGER" property="userId"/>
        <result column="dept_id" javaType="java.lang.Integer" jdbcType="INTEGER" property="deptId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="identification" jdbcType="VARCHAR" property="identification"/>
        <result column="phone" javaType="java.lang.String" jdbcType="VARCHAR" property="phone"/>
        <result column="email" javaType="java.lang.String" jdbcType="VARCHAR" property="email"/>
        <result column="avatar" javaType="java.lang.String" jdbcType="VARCHAR" property="avatar"/>
        <result column="status" javaType="java.lang.Integer" jdbcType="INTEGER" property="status"/>
        <result column="user_name" javaType="java.lang.String" jdbcType="VARCHAR" property="userName"/>
        <result column="reset_password_token" javaType="java.lang.String" jdbcType="VARCHAR"
                property="resetPasswordToken"/>
        <result column="password_encrypted" javaType="java.lang.String" jdbcType="VARCHAR"
                property="passwordEncrypted"/>
        <result column="created_at" javaType="java.util.Date" jdbcType="TIMESTAMP" property="createdAt"/>
        <result column="updated_at" javaType="java.util.Date" jdbcType="TIMESTAMP" property="updatedAt"/>
        <result column="current_token" javaType="java.lang.String" jdbcType="VARCHAR" property="currentToken"/>
        <result column="current_sign_in_at" javaType="java.util.Date" jdbcType="TIMESTAMP" property="currentSignInAt"/>
        <result column="last_sign_in_at" javaType="java.util.Date" jdbcType="TIMESTAMP" property="lastSignInAt"/>
        <result column="sign_in_count" javaType="java.lang.Integer" jdbcType="INTEGER" property="signInCount"/>
    </resultMap>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select *
        from sys_user
        where user_id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectByLoginStr" resultMap="BaseResultMap">
        SELECT *
        FROM sys_user
        LEFT JOIN sys_user_role ON sys_user.user_id = sys_user_role.user_id
        LEFT JOIN sys_role ON sys_user_role.role_id = sys_role.role_id
        WHERE user_name = #{loginStr} OR phone = #{loginStr} OR email = #{loginStr}
        LIMIT 1
    </select>
    <update id="updateCol">
        UPDATE sys_user
        SET ${column} = #{value}
        WHERE user_id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateSignInAt" parameterType="java.lang.Integer">
        UPDATE sys_user
        SET last_sign_in_at = current_sign_in_at,
        current_sign_in_at = current_timestamp()
        WHERE user_id = #{id,jdbcType=INTEGER}
    </update>
    <update id="increaseSignInCount" parameterType="java.lang.Integer">
        UPDATE sys_user
        SET sign_in_count = sign_in_count + 1
        WHERE user_id = #{id,jdbcType=INTEGER}
    </update>
    <resultMap id="MenuResultMap" type="com.qianxun.admin.model.entity.SysMenu">
        <id column="menu_id" javaType="java.lang.Integer" jdbcType="INTEGER" property="menuId"/>
        <result column="parent_id" javaType="java.lang.Integer" jdbcType="INTEGER" property="parentId"/>
        <result column="name" javaType="java.lang.String" jdbcType="VARCHAR" property="name"/>
        <result column="menu_code" javaType="java.lang.String" jdbcType="VARCHAR" property="menuCode"/>
        <result column="url" javaType="java.lang.String" jdbcType="VARCHAR" property="url"/>
        <result column="icon" javaType="java.lang.String" jdbcType="VARCHAR" property="icon"/>
        <result column="sort" javaType="java.lang.Integer" jdbcType="INTEGER" property="sort"/>
        <result column="type" javaType="java.lang.Integer" jdbcType="INTEGER" property="type"/>
        <result column="created_at" javaType="java.util.Date" jdbcType="TIMESTAMP" property="createdAt"/>
        <result column="updated_at" javaType="java.util.Date" jdbcType="TIMESTAMP" property="updatedAt"/>
        <result column="status" javaType="java.lang.Integer" jdbcType="INTEGER" property="status"/>
    </resultMap>
    <select id="findMenusByUserId" parameterType="java.lang.Integer" resultMap="MenuResultMap">
        SELECT * FROM sys_menu WHERE menu_id IN
        (SELECT menu_id FROM sys_role_menu WHERE role_id IN
        (SELECT role_id FROM sys_user_role WHERE user_id = #{id,jdbcType=INTEGER}))
    </select>
    <resultMap id="RoleResultMap" type="com.qianxun.admin.model.entity.SysRole">
        <id column="role_id" javaType="java.lang.Integer" jdbcType="INTEGER" property="roleId"/>
        <result column="role_name" javaType="java.lang.String" jdbcType="VARCHAR" property="roleName"/>
        <result column="role_code" javaType="java.lang.String" jdbcType="VARCHAR" property="roleCode"/>
        <result column="role_desc" javaType="java.lang.String" jdbcType="VARCHAR" property="roleDesc"/>
        <result column="created_at" javaType="java.util.Date" jdbcType="TIMESTAMP" property="createdAt"/>
        <result column="updated_at" javaType="java.util.Date" jdbcType="TIMESTAMP" property="updatedAt"/>
        <result column="status" javaType="java.lang.Integer" jdbcType="INTEGER" property="status"/>
    </resultMap>
    <select id="findRolesByUserId" parameterType="java.lang.Integer" resultMap="RoleResultMap">
        SELECT * FROM sys_role WHERE role_id IN
        (SELECT role_id FROM sys_user_role WHERE user_id = #{id,jdbcType=INTEGER})
    </select>

    <resultMap id="ResultMenuTree" type="com.qianxun.admin.model.dto.sysMenu.response.MenuTree">
        <id column="menu_id" javaType="java.lang.Integer" jdbcType="INTEGER" property="menuId"/>
        <result column="parent_id" javaType="java.lang.Integer" jdbcType="INTEGER" property="parentId"/>
        <result column="name" javaType="java.lang.String" jdbcType="VARCHAR" property="name"/>
        <result column="menu_code" javaType="java.lang.String" jdbcType="VARCHAR" property="menuCode"/>
        <result column="path" javaType="java.lang.String" jdbcType="VARCHAR" property="path"/>
        <result column="component" javaType="java.lang.String" jdbcType="VARCHAR" property="component"/>
        <result column="icon" javaType="java.lang.String" jdbcType="VARCHAR" property="icon"/>
        <result column="sort" javaType="java.lang.Integer" jdbcType="INTEGER" property="sort"/>
        <result column="type" javaType="java.lang.Integer" jdbcType="INTEGER" property="type"/>
        <result column="created_at" javaType="java.util.Date" jdbcType="TIMESTAMP" property="createdAt"/>
        <result column="updated_at" javaType="java.util.Date" jdbcType="TIMESTAMP" property="updatedAt"/>
        <result column="status" javaType="java.lang.Integer" jdbcType="INTEGER" property="status"/>
        <collection property="children" column="menu_id" select="findChildren"/>
    </resultMap>
    <select id="selectUserMenuTree" resultMap="ResultMenuTree">
        SELECT * FROM sys_menu
        WHERE sys_menu.parent_id IS NULL AND sys_menu.type IS NULL
        ORDER BY sys_menu.sort, sys_menu.menu_id
    </select>
    <select id="findChildren" parameterType="java.lang.Integer" resultMap="ResultMenuTree">
        SELECT * FROM sys_menu
        WHERE sys_menu.parent_id = #{id} AND sys_menu.type IS NULL
        ORDER BY sys_menu.sort, sys_menu.menu_id
    </select>
</mapper>