<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianxun.admin.dao.SysPermissionMapper">
    <resultMap id="BaseResultMap" type="com.qianxun.admin.entity.SysPermission">
        <id column="id" javaType="java.lang.Integer" jdbcType="INTEGER" property="id"/>
        <result column="name" javaType="java.lang.String" jdbcType="VARCHAR" property="name"/>
        <result column="module" javaType="java.lang.Integer" jdbcType="INTEGER" property="module"/>
        <result column="description" javaType="java.lang.String" jdbcType="VARCHAR" property="description"/>
        <result column="key" javaType="java.lang.String" jdbcType="VARCHAR" property="key"/>
    </resultMap>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select * from sys_permission
           where id = #{id,jdbcType=INTEGER}
        </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select * from sys_permission
    </select>
    <insert id="insert" parameterType="com.qianxun.admin.entity.SysPermission">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into sys_permission (
        id,
        `name`,
        `module`,
        description,
        `key`
        )
        values (
        #{id,jdbcType=INTEGER},
        #{name,jdbcType=VARCHAR},
        #{module,jdbcType=INTEGER},
        #{description,jdbcType=VARCHAR},
        #{key,jdbcType=VARCHAR}
        )
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.qianxun.admin.entity.SysPermission">
        update sys_permission set
                                            id = #{id,jdbcType=INTEGER},
                                                                `name` = #{name,jdbcType=VARCHAR},
                                                                `module` = #{module,jdbcType=INTEGER},
                                                                description = #{description,jdbcType=VARCHAR},
                                                                `key` = #{key,jdbcType=VARCHAR}
                                               where id = #{id,jdbcType=INTEGER}
            </update>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from sys_permission
                   where id = #{id,jdbcType=INTEGER}
            </delete>
</mapper>
