<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianxun.admin.provider.mapper.SysMenuMapper">
    <resultMap id="BaseResultMap" type="com.qianxun.admin.api.entity.SysMenu">
        <id column="id" javaType="java.lang.Integer" jdbcType="INTEGER" property="id"/>
        <result column="name" javaType="java.lang.String" jdbcType="VARCHAR" property="name"/>
        <result column="parent_id" javaType="java.lang.Integer" jdbcType="INTEGER" property="parentId"/>
        <result column="permission" javaType="java.lang.String" jdbcType="VARCHAR" property="permission"/>
        <result column="path" javaType="java.lang.String" jdbcType="VARCHAR" property="path"/>
        <result column="icon" javaType="java.lang.String" jdbcType="VARCHAR" property="icon"/>
        <result column="sort" javaType="java.lang.Integer" jdbcType="INTEGER" property="sort"/>
        <result column="type" javaType="java.lang.Integer" jdbcType="INTEGER" property="type"/>
        <result column="created_at" javaType="java.util.Date" jdbcType="TIMESTAMP" property="createdAt"/>
        <result column="updated_at" javaType="java.util.Date" jdbcType="TIMESTAMP" property="updatedAt"/>
        <result column="deleted" javaType="java.lang.Integer" jdbcType="INTEGER" property="deleted"/>
    </resultMap>

    <select id="getMenusByRoleId" resultMap="BaseResultMap">
        SELECT
			sys_menu.*
		FROM
			sys_menu
		LEFT JOIN sys_role_menu ON sys_menu.id = sys_role_menu.menu_id
		WHERE
			sys_menu.deleted = 0
		AND sys_role_menu.role_id = #{roleId}
		ORDER BY
			sys_menu.sort DESC
    </select>

    <select id="getMenusByUserId" resultMap="BaseResultMap">
         SELECT
			sys_menu.*
		FROM
			sys_menu
		LEFT JOIN sys_user_menu ON sys_menu.id = sys_user_menu.menu_id
		WHERE
			sys_menu.deleted = 0
		AND sys_user_menu.user_id = #{userId}
		ORDER BY
			sys_menu.sort DESC
    </select>
</mapper>
