<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianxun.admin.provider.mapper.SysRoleMapper">
    <resultMap id="BaseResultMap" type="com.qianxun.admin.api.dto.extend.SysRoleDTO">
        <id column="id" javaType="java.lang.Integer" jdbcType="INTEGER" property="id"/>
        <result column="lang_id" javaType="java.lang.Integer" jdbcType="INTEGER" property="langId"/>
        <result column="name" javaType="java.lang.String" jdbcType="VARCHAR" property="name"/>
        <result column="role_code" javaType="java.lang.String" jdbcType="VARCHAR" property="roleCode"/>
        <result column="role_desc" javaType="java.lang.String" jdbcType="VARCHAR" property="roleDesc"/>
        <result column="created_at" javaType="java.util.Date" jdbcType="TIMESTAMP" property="createdAt"/>
        <result column="updated_at" javaType="java.util.Date" jdbcType="TIMESTAMP" property="updatedAt"/>
    </resultMap>
    <sql id="roleWithLangSql">
        r.id, r.role_code, r.created_at, r.updated_at,
        rl.name AS `name`, rl.role_desc AS role_desc, rl.lang_id AS lang_id
        from sys_role AS r LEFT JOIN sys_role_lang AS rl ON r.id = rl.role_id
    </sql>
    <select id="getRolesWithLang" resultMap="BaseResultMap">
        select
          <include refid="roleWithLangSql"/>
        <where>
            AND rl.lang_id = #{inputDTO.langId} AND r.deleted != -1
            <if test="inputDTO.query != null and inputDTO.query != ''">
                AND rl.`name` LIKE CONCAT('%',#{inputDTO.query},'%')
                OR r.role_code LIKE CONCAT('%',#{inputDTO.query},'%')
            </if>
        </where>
        ORDER BY r.created_at DESC
    </select>

    <select id="searchById" resultMap="BaseResultMap">
        select
        <include refid="roleWithLangSql"/>
        <where>
            AND rl.lang_id = #{inputDTO.langId} AND r.deleted != -1
            AND r.id = #{inputDTO.id}
        </where>
    </select>

</mapper>
