<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianxun.dao.mapper.AuthRolePermissionMapper">
  <resultMap id="BaseResultMap" type="com.qianxun.entity.AuthRolePermission">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="auth_role_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="auth_permission_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="created_at" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="updated_at" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from auth_role_permission
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qianxun.entity.AuthRolePermission">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into auth_role_permission (auth_role_id, auth_permission_id, created_at, 
      updated_at)
    values (#{authRoleId,jdbcType=INTEGER}, #{authPermissionId,jdbcType=INTEGER}, #{createdAt,jdbcType=TIMESTAMP}, 
      #{updatedAt,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.qianxun.entity.AuthRolePermission">
    update auth_role_permission
    set auth_role_id = #{authRoleId,jdbcType=INTEGER},
      auth_permission_id = #{authPermissionId,jdbcType=INTEGER},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, auth_role_id, auth_permission_id, created_at, updated_at
    from auth_role_permission
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, auth_role_id, auth_permission_id, created_at, updated_at
    from auth_role_permission
  </select>
</mapper>