<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianxun.dao.mapper.AuthPermissionMapper">
  <resultMap id="BaseResultMap" type="com.qianxun.entity.AuthPermission">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="module" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="description" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="key" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from auth_permission
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qianxun.entity.AuthPermission">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into auth_permission (name, module, description, 
      key)
    values (#{name,jdbcType=VARCHAR}, #{module,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, 
      #{key,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.qianxun.entity.AuthPermission">
    update auth_permission
    set name = #{name,jdbcType=VARCHAR},
      module = #{module,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      key = #{key,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name, module, description, key
    from auth_permission
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, module, description, key
    from auth_permission
  </select>
</mapper>