package ${package}.${moduleName}.admin.api.dto.${classname}.requset;

import java.util.Date;
import lombok.Data;
import javax.validation.constraints.NotNull;
import io.swagger.annotations.ApiModelProperty;
import javax.validation.constraints.NotBlank;
import java.io.Serializable;

/**
 * ${comments}
 *
 * @author ${author}
 * @date ${datetime}
 */
@Data
public class ${className}AddInputDTO implements Serializable {
    #foreach ($column in $columns)
    ##排除主键
        #if($column.columnName != $pk.columnName)
        ##排除created_at字段
            #if($column.columnName != "created_at")
            ##排除updated_at字段
                #if($column.columnName != "updated_at")
                    #if($column.nullable == "NO")
                        #if($column.dataType == "int")
                        @NotNull(message = "${column.comments}不能为空")
                        #else
                        @NotBlank(message = "${column.comments}不能为空")
                        @ApiModelProperty(value = "$column.comments" , required = true)
                        #end
                    #else
                    @ApiModelProperty(value = "$column.comments")
                    #end

                private ${column.attrType} $column.attrname;
                #end
            #end
        #end
    #end
}
