package ${package}.${moduleName}.api.dto.${classname}.request;

import ${package}.${moduleName}.api.dto.base.RequestDTO;
import io.swagger.annotations.ApiModelProperty;
import javax.validation.constraints.NotNull;
import lombok.Data;
import java.io.Serializable;

/**
 * @author ${author}
 * ##Date ${datetime}
 */
@Data
public class ${className}DeleteInputDTO extends RequestDTO implements Serializable{
    @NotNull(message = "id不能为空")
    @ApiModelProperty(value = "id", required = true)
    private Integer id;
}
