package ${package}.${moduleName}.api.dto.${classname}.requset;

import ${package}.${moduleName}.api.dto.base.BaseQueryInputDTO;
import java.io.Serializable;

/**
 * ${comments}
 *
 * @author ${author}
 * @date ${datetime}
 */
public class ${className}QueryInputDTO extends BaseQueryInputDTO implements Serializable{

}
