package ${package}.${moduleName}.api.dto.${classname}.request;

import ${package}.${moduleName}.api.dto.base.BaseQueryInputDTO;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
import javax.validation.constraints.NotNull;
import java.io.Serializable;

/**
 * @author ${author}
 * Date ${datetime}
 */
@Data
public class ${className}QueryInputDTO extends BaseQueryInputDTO implements Serializable{
    @NotNull(message = "语言ID不能为空")
    @ApiModelProperty(value = "语言ID", required = true)
    private Integer langId;
}
