package ${package}.${moduleName}.admin.api.dto.${classname}.requset;

import lombok.Data;
import java.io.Serializable;

/**
 * ${comments}
 *
 * @author ${author}
 * @date ${datetime}
 */
@Data
public class ${className}QueryInputDTO implements Serializable{

}
