package ${package}.${moduleName}.api.dto.${classname}.request;

import ${package}.${moduleName}.api.dto.base.SearchByIdInputDTO;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
import javax.validation.constraints.NotNull;

/**
 * @author ${author}
 * Date ${datetime}
 */
@Data
public class ${className}SearchByIdDTO extends SearchByIdInputDTO {
    @NotNull(message = "语言ID不能为空")
    @ApiModelProperty(value = "语言ID", required = true)
    private Integer langId;
}
