package ${package}.${moduleName}.api.dto.${classname}.request;

import ${package}.${moduleName}.api.dto.base.BaseQueryInputDTO;
import java.io.Serializable;

/**
 * @author ${author}
 * Date ${datetime}
 */
public class ${className}QueryInputDTO extends BaseQueryInputDTO implements Serializable{

}
