package ${package}.${moduleName}.api.dto.${classname}.request;

import java.util.Date;
import lombok.Data;
import ${package}.${moduleName}.api.dto.base.RequestDTO;
import javax.validation.constraints.NotNull;
import io.swagger.annotations.ApiModelProperty;
import javax.validation.constraints.NotBlank;
import java.io.Serializable;
import org.springframework.format.annotation.DateTimeFormat;

/**
 * @author ${author}
 * ##Date ${datetime}
 */
@Data
public class ${className}UpdateInputDTO extends RequestDTO implements Serializable {
    #foreach ($column in $columns)
    ##排除created_at,deleted字段
        #if($column.columnName != "created_at" && $column.columnName != "deleted"
        && $column.columnName != "updated_at")
        ##version
            #if($column.columnName == "version")
            @NotNull(message = "乐观锁版本不能为空")
            @ApiModelProperty(value = "$column.comments", required = true)
            #else
                #if($column.nullable == "NO")
                    #if($column.attrType == "Integer" || $column.attrType == "Long")
                    @NotNull(message = "${column.comments}不能为空")
                    #else
                    @NotBlank(message = "${column.comments}不能为空")
                    #end
                @ApiModelProperty(value = "$column.comments", required = true)
                #else
                @ApiModelProperty(value = "$column.comments")
                #end
            #end
        private ${column.attrType} $column.attrname;

        #end
    #end
}
