package ${package}.${moduleName}.api.dto.${classname}.requset;

import java.util.Date;
import lombok.Data;
import javax.validation.constraints.NotNull;
import io.swagger.annotations.ApiModelProperty;
import javax.validation.constraints.NotBlank;
import java.io.Serializable;
import org.springframework.format.annotation.DateTimeFormat;

/**
 * @author ${author}
 * Date ${datetime}
 */
@Data
public class ${className}UpdateInputDTO implements Serializable {
    #foreach ($column in $columns)
    ##排除created_at,deleted字段
        #if($column.columnName != "created_at" && $column.columnName != "deleted")
        ##updated_at字段
            #if($column.columnName == "updated_at")
            @NotNull(message = "上此更新的时间不能为空")
            @DateTimeFormat(pattern = "yyyy-MM-dd HH:mm:ss")
            @ApiModelProperty(value = "$column.comments", required = true)
            #else
                #if($column.nullable == "NO")
                    #if($column.attrType == "Integer" || $column.attrType == "Long")
                    @NotNull(message = "${column.comments}不能为空")
                    #else
                    @NotBlank(message = "${column.comments}不能为空")
                    #end
                @ApiModelProperty(value = "$column.comments", required = true)
                #else
                @ApiModelProperty(value = "$column.comments")
                #end
            #end
        private ${column.attrType} $column.attrname;

        #end
    #end
}
