package ${package}.${moduleName}.provider.service;

import com.baomidou.mybatisplus.extension.service.IService;
import ${package}.${moduleName}.api.entity.${className}Lang;

/**
 * @author ${author}
 * Date ${datetime}
 */
public interface ${className}LangService extends IService<${className}Lang> {

}

