<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${package}.${moduleName}.dao.${className}Mapper">
    <resultMap id="BaseResultMap" type="${package}.${moduleName}.entity.${className}">
        #foreach($column in $columns)
            #if(${column.dataUpperCaseType} == "INT")
                #if($column.columnName == $pk.columnName)
                    <id column="${column.columnName}" javaType="${column.attrAllType}"
                        jdbcType="INTEGER" property="${column.attrname}"/>
                #else
                    <result column="${column.columnName}" javaType="${column.attrAllType}"
                            jdbcType="INTEGER" property="${column.attrname}"/>
                #end
            #else
                #if($column.columnName == $pk.columnName)
                    <id column="${column.columnName}" javaType="${column.attrAllType}"
                        jdbcType="${column.dataUpperCaseType}" property="${column.attrname}"/>
                #else
                    <result column="${column.columnName}" javaType="${column.attrAllType}"
                            jdbcType="${column.dataUpperCaseType}" property="${column.attrname}"/>
                #end
            #end
        #end
    </resultMap>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select * from ${tableName}
    #if(${pk.dataUpperCaseType} == "INT")
       where ${pk.columnName} = #{${pk.columnName},jdbcType=INTEGER}
    #else
       where ${pk.columnName} = #{${pk.columnName},jdbcType=${pk.dataUpperCaseType}}
    #end
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select * from ${tableName}
    </select>
    <insert id="insert" parameterType="${package}.${moduleName}.entity.${className}">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into ${tableName} (
        #foreach($column in $columns)
            ${column.columnName},
        #end)
        values (
        #foreach($column in $columns)
            #if(${column.dataUpperCaseType} == "INT")
                #{${column.attrname},jdbcType=INTEGER},
            #else
                #{${column.attrname},jdbcType=${column.dataUpperCaseType}},
            #end
        #end)
    </insert>
    <update id="updateByPrimaryKey" parameterType="${package}.${moduleName}.entity.${className}">
        update ${tableName} set
        #foreach($column in $columns)
            #if(${column.dataUpperCaseType} == "INT")
            ${column.columnName} = #{${column.attrname},jdbcType=INTEGER},
            #else
            ${column.columnName} = #{${column.attrname},jdbcType=${column.dataUpperCaseType}},
            #end
        #end
        #if(${pk.dataUpperCaseType} == "INT")
           where ${pk.columnName} = #{${pk.attrname},jdbcType=INTEGER}
        #else
           where ${pk.columnName} = #{${pk.attrname},jdbcType=${pk.dataUpperCaseType}}
        #end
    </update>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from ${tableName}
        #if(${pk.dataUpperCaseType} == "INT")
           where ${pk.columnName} = #{${pk.columnName},jdbcType=INTEGER}
        #else
           where ${pk.columnName} = #{${pk.columnName},jdbcType=${pk.dataUpperCaseType}}
        #end
    </delete>
</mapper>
