<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${package}.${moduleName}.provider.mapper.${className}Mapper">
<resultMap id="BaseResultMap" type="${package}.${moduleName}.api.dto.extend.${className}DTO">
    #foreach($column in $columns)
        #if(${column.dataUpperCaseType} == "INT")
            #if($column.columnName == $pk.columnName)
                <id column="${column.columnName}" javaType="${column.attrAllType}" jdbcType="INTEGER" property="${column.attrname}"/>
            #else
                <result column="${column.columnName}" javaType="${column.attrAllType}" jdbcType="INTEGER" property="${column.attrname}"/>
            #end
        #else
            #if($column.columnName == $pk.columnName)
                <id column="${column.columnName}" javaType="${column.attrAllType}" jdbcType="${column.dataUpperCaseType}" property="${column.attrname}"/>
            #else
                <result column="${column.columnName}" javaType="${column.attrAllType}" jdbcType="${column.dataUpperCaseType}" property="${column.attrname}"/>
            #end
        #end
    #end
</resultMap>
<sql id="${classname}WithLangSql">
    #foreach($column in $columns)
    ${tableName}.${column.columnName},
    #end
${tableName}_lang.name AS `name`, ${tableName}_lang.lang_id AS lang_id
from ${tableName} LEFT JOIN ${tableName}_lang ON ${tableName}.id =
    #if($tableName.startsWith('sys_'))
        ${tableName}_lang.${tableName.substring(4)}_id
    #else
        ${tableName}_lang.${tableName}_id
    #end
    </sql>
<select id="get${className}sWithLang" resultMap="BaseResultMap">
    select
    <include refid="${classname}WithLangSql"/>
    <where>
        AND ${tableName}_lang.lang_id = #{inputDTO.langId} AND ${tableName}.deleted != -1
        <if test="inputDTO.query != null and inputDTO.query != ''">
            AND ${tableName}_lang.`name` LIKE CONCAT('%',#{inputDTO.query},'%')
        </if>
    </where>
    ORDER BY ${tableName}.created_at DESC
</select>

<select id="searchById" resultMap="BaseResultMap">
    select
    <include refid="roleWithLangSql"/>
    <where>
        AND ${tableName}.lang_id = #{inputDTO.langId} AND ${tableName}.deleted != -1
        AND ${tableName}.id = #{inputDTO.id}
    </where>
</select>
</mapper>
