package ${package}.${moduleName}.provider.mapper;

import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import ${package}.${moduleName}.api.dto.${classname}.request.${className}QueryInputDTO;
import ${package}.${moduleName}.api.entity.${className};
import org.apache.ibatis.annotations.Param;

/**
 * @author ${author}
 * Date ${datetime}
 */
public interface ${className}Mapper extends BaseMapper<${className}> {
   IPage get${className}sWithLang(Page page, @Param("inputDTO")${className}QueryInputDTO inputDTO);
}

