syntax = "proto3";

option java_package = "${package}.grpc.lib.${classname}";

package ${classname};

import public "google/protobuf/timestamp.proto";

service ${className}Service {
    rpc GetById(ByIdReq) returns (${className}){}
    rpc GetList(GetListReq) returns (PageList) {}
    rpc Insert(Base${className}) returns (Result) {}
    rpc Update(${className}) returns (Result) {}
    rpc Delete(ByIdReq) returns (Result) {}
}

message ByIdReq {
    int32 id = 1;
    int32 lang_id = 2;
}

message GetListReq {
    int32 lang_id = 1;
    string query = 2;
    int32 page_size = 3;
    int32 page = 4;
}

message Result {
    bool success = 1;
}

// 新增时,使用的message,以保证用户不传入多余信息
#set($i = 1)
message Base${className} {
#foreach ($column in $columns)
##排除主键
    #if($column.columnName != $pk.columnName && $column.columnName != "created_at"
    &&$column.columnName != "updated_at"&&$column.columnName != "deleted")
    #if($column.attrType == "Integer")
    int32 ${column.columnName} = ${i};
    #end
    #if($column.attrType == "String")
    string ${column.columnName} = ${i};
    #end
    #if($column.attrType == "Date")
    google.protobuf.Timestamp ${column.columnName} = ${i};
    #end
    #end
    #set($i=$i+1)
#end
    int32 lang_id = ${i};#set($i=$i+1)
    string name = ${i};
}

#set($j = 1)
message ${className} {
#foreach ($column in $columns)
    #if($column.attrType == "Integer")
    int32 ${column.columnName} = ${j};
    #end
    #if($column.attrType == "Long")
    int64 ${column.columnName} = ${j};
    #end
    #if($column.attrType == "String")
    string ${column.columnName} = ${j};
    #end
    #if($column.attrType == "Date")
    google.protobuf.Timestamp ${column.columnName} = ${j};
    #end
    #set($j=$j+1)
#end
    int32 lang_id = ${j};#set($j=$j+1)
    string name = ${j};
}

message PageList {
    int32 total = 1;
    repeated ${className} ${tableName}s = 2;
}
