package ${package}.service;

import ${package}.${moduleName}.model.entity.${className};

import java.util.List;

public interface ${className}Service{
    boolean add${className}(${className} ${classname});

    boolean edit${className}(${className} ${classname});

    List<${className}> findAll${className}s();

    ${className} get${className}(int id);

    boolean delete${className}(int id);
}