package ${package}.${moduleName}.provider.service.impl;

import ${package}.${moduleName}.provider.mapper.${className}Mapper;
import ${package}.${moduleName}.api.entity.${className};
import ${package}.${moduleName}.provider.service.${className}Service;
import org.springframework.stereotype.Service;
import lombok.AllArgsConstructor;
import java.util.List;

@Service
@AllArgsConstructor
public class ${className}ServiceImpl implements ${className}Service {
    private final ${className}Mapper ${classname}Mapper;

    @Override
    public boolean add${className}(${className} ${classname}) {
        return this.${classname}Mapper.insert(${classname}) > 0;
    }

    @Override
    public boolean edit${className}(${className} ${classname}) {
        return ${classname}Mapper.updateByPrimaryKey(${classname}) > 0;

    }

    @Override
    public List<${className}> findAll${className}s() {
        return ${classname}Mapper.selectAll();
    }

    @Override
    public ${className} get${className}(int id) {
        return ${classname}Mapper.selectByPrimaryKey(id);
    }

    @Override
    public boolean delete${className}(int id) {
        return ${classname}Mapper.deleteByPrimaryKey(id) > 0;
    }
}
