package ${package}.${moduleName}.provider.service;

import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.baomidou.mybatisplus.extension.service.IService;
import ${package}.${moduleName}.api.dto.extend.${className}DTO;
import ${package}.${moduleName}.api.dto.${classname}.request.${className}QueryInputDTO;
import ${package}.${moduleName}.api.entity.${className};

/**
 * author: Claude
 * email: 314705487@qq.com
 * create date: 05/10/19 9:31
 */
public interface ${className}Service extends IService<${className}> {

    Boolean save${className}(${className}DTO ${classname}DTO);

    IPage get${className}s(Page page, ${className}QueryInputDTO inputDTO);

    Boolean update${className}(${className}DTO ${classname}DTO);
}
